footer {
  width: 130%;
  background: #2e1c0f;
  color: white;
  
  padding: 20px 40px 40px 20px;
  text-align: center;
}

footer h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

footer p {
  margin: 5px 0;
}

footer .copyright {
  margin-top: 20px;
  font-size: 0.9rem;
  opacity: 0.8;
}
@media(max-width: 900px){
.global-container {padding-right:130px;}
}