/* =Navbar Container  */
.navbar {
  position: fixed;
  top: 0;
width: 100%;
max-width: 100vw;
  height: 6%;
  padding: 2.5vw 3vw;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
box-sizing: border-box;
 
  background: rgba(34, 32, 27, 0.7);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.1);
 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Logo Section  */
.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-title {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.8rem;
  font-weight: 800;
  color: #ffffff;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

.navbar-title:hover {
  color: #4da6ff;
}

/*Nav Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-links li a,
.nav-links li button {
  text-decoration: none;
  color: #e5e5e5;
  background: none;
    gap:30px;
     padding:0;
  margin:0;
  display: inline-block;
  border: none;
  font-size: 1.05rem;
  font-weight: 500;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  position: relative;
  transition: all 0.3s ease;
}


.nav-links li a::after,
.nav-links li button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: #4da6ff;
  transition: width 0.3s ease;
}

.nav-links li a:hover,
.nav-links li button:hover {
  color:  #4da6ff;
  text-shadow:0 0 8px rgba(77, 166, 255, 0.6);
}

.nav-links li a:hover::after,
.nav-links li button:hover::after {
  width: 100%;
}


@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    height: auto;
  }

  .nav-links {
    flex-direction: column;
    gap: 15px;
  }
}
